<div class="comments">
	<h3 class="comments__heading">Comments are welcome!</h3>
	<div id="disqus_thread"></div>
	<script>
	var disqus_config = function () {
		// Page url without query parameters or hashes
		this.page.url = window.location.href.split('?')[0].split('#')[0];
		// Id is just slug of post
		this.page.identifier = '{{page.slug}}';
	};
	(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//micahjon.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>