<footer class="site-footer">
    <p>© Copyright <span id="currentYear"></span> {{ site.name }}</p>
    <script>document.getElementById('currentYear').textContent = new Date().getFullYear()</script>
    {% if showProfile %}
    <p>* My name changed from <span id="name-change">Micah Miller-Eshleman</span> when I got married a few months ago.</p>
    {% endif %}
</footer>
