<footer class="site-footer">
    <p>© Copyright <script>document.write(new Date().getFullYear())</script> {{ site.name }}</p>
    {% if showProfile %}
    <p>* My name changed from <span id="name-change">Micah Miller-Eshleman</span> when I got married a few months ago.</p>
    {% endif %}
</footer>