{% comment %}
	Get timestamp of exactly 1 year ago 
{% endcomment %}
{% capture yearAgoUnix %}{{ 'now' | date: '%s' | minus: 31557600 }}{% endcapture %}

<ul id="post-list">
    
    {% comment %}
    	Compare post date to a year ago to determine format. Posts over a year old need to display a year as well as month & year 
    {% endcomment %}
    {% for post in paginator.posts %}
    	{% capture postDateUnix %}{{ post.date | date: '%s' | plus: 0 }}{% endcapture %}
    	{% if yearAgoUnix < postDateUnix %}
    		{% assign formattedDate = post.date | date:"%b %d" %}
    	{% else %}
    		{% assign formattedDate = post.date | date:"%b %d, '%y" %}
    	{% endif %}

        {% comment %}
            Get link to post on this blog or an external link
        {% endcomment %}
        {% if post.external_url %}
            {% assign link = post.external_url %}
        {% else %}
            {% capture link %}{{ post.url }}{% endcapture %}
        {% endif %}
        <li>
            <a href="{{ link }}"><aside class="dates">{{ formattedDate }}</aside></a>
            <a href="{{ link }}">{{ post.title }} <div class="description">{{ post.description }}</div></a>
        </li>
    {% endfor %}
</ul>

{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}
