<header class="profile">
    <a href="/about">
        <img class="profile__avatar" src="/assets/images/profile-circle-240-tiny.png"/>
    </a>
    <h1 class="profile__heading h3">Micah Engle-Eshleman</h1>
    <div class="profile__tagline">{{ site.description }}</div>
</header>