/*
 * Stylesheet based on:
 *    highlightjs-material-dark-theme
 *    Material Dark theme for Highlight.js
 *    Based off of https://github.com/equinusocio/material-theme 
 *    For use with Highlight.js, https://github.com/isagalaev/highlight.js
 * 
 * but was tweaked w/ a new font and some lighter colors to match the 
 * standard Material Theme (instead of the dark variant)
 */ 
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:500);

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  background: #263238;
  color: #eeffff;
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
}
.hljs > *::selection {
  background-color: #3e4451;
}

.hljs-comment {
  color: #546e7a;
  font-style: italic;
}

.hljs-selector-tag {
  color: #C792EA;
}

.hljs-string,
.hljs-subst {
  color: #C3E88D;
}

.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #f78c6a;
}

.hljs-keyword {
  color: #C792EA;
}
.hljs-function > .hljs-title {
  color: #82aaff;
}
.hljs-tag {
  color: #ffcb6b; /*#abb2bf;*/
}
.hljs-name {
  color: #e06c75;
}
.hljs-type {
  color: #da4939;
}

.hljs-attribute {
  color: #aec7d1;
}

.anchor-target:before {
  content:"";
  display:block;
  width: 0;
  height:$fixed-header-anchor-offset; /* fixed header height*/
  margin:-$fixed-header-anchor-offset 0 0; /* negative fixed header height */
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-link {
  color: #ffcb6b; /*#C792EA;*/
}

.hljs-literal {
  color: #f78c6a;
}

.hljs-params {
  color: #EEFFF7;
}


.hljs-meta {
  color: #82aaff;
}

.hljs-title {
  color: #82aaff;
}

.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #FFCB68;
}

.hljs-selector-id {
  color: #f78c6a;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}