@import 'includes/reset.scss';
@import 'includes/typography.scss';
@import 'includes/profile-circle.scss';
@import 'includes/top-nav.scss';
@import 'includes/post-list.scss';
@import 'includes/post-page.scss';
@import 'includes/normal-page.scss';
@import 'includes/share.scss';
@import 'includes/code.scss';

main {
  background-color: white;
}

.centered-column {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

.site-footer {
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 600px;
  color: var(--grey-500);
  font-size: 14px;

  @media (min-width: 700px) {
    padding: 0;
  }
}

#name-change:target {
  background-color: yellow;
}

hr {
  margin: 2rem 0;
  border: none;
  border-bottom: 1px solid var(--grey-100);
}

table,
th,
td {
  padding: 2px 0.5rem;
  border: 1px solid var(--grey-200);
}
table {
  margin-bottom: 1rem;
  border-collapse: collapse;
}
th {
  font-weight: bold;
}
