/*=========================================
Hightlight.js
=========================================== */
.hljs {
  padding: 1.5em !important;
  position: relative;
}
/* add label with name of code */
.hljs:before {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 1.25em 0.45em 0.85em;
  background: #546e7a;
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
}
.language-php .hljs:before {
  content: 'PHP';
}
.language-bash .hljs:before {
  content: 'Bash';
}
.language-handlebars .hljs:before {
  content: 'Handlebars';
}
.language-javascript .hljs:before {
  content: 'JS';
}
.language-twig .hljs:before {
  content: 'Twig';
}

/* not sure why these empty .xml tags are showing up */
.hljs.handlebars > .xml:first-child,
.hljs.handlebars > .xml:last-child {
  display: none;
}
