//
// Top nav links
//

.top-nav {
  padding: 0.5rem 0.5rem 0.75rem;
  @media (min-height: 600px) and (min-width: 360px) {
    padding: 1rem 1rem 1.25rem;
  }
  text-align: right;
}

.top-nav a {
  padding: 0.5rem 0.75rem;
  font-size: 13px;
  line-height: 1.35;
  border-radius: 3px;
}
