<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      {% if title %}{{ title }} | {% endif %}{{ site.name }}
    </title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/style.css?v=1" />
    {#
    <link
      rel="alternate"
      type="application/rss+xml"
      title="My Blog"
      href="/rss.xml"
    />
    #}

    {# Plausible analytics #}
    <script defer data-api="https://ana.adblockpodcast.com/api/event" data-domain="micahjon.com" src="/assets/js/plsible.js"></script>
  </head>

  <body>
    {% include "navigation.njk" %} 
    {% if showProfile %}
      {% include "profile.njk" %}
    {% endif %}

    <main class="centered-column {% if isPage %}page{% else %}post{% endif %}-container">
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    <script async src="/assets/js/main.js?v=1"></script>
    <link href="/assets/css/prism-material-oceanic.css" rel="stylesheet">

  <style>
    
  </style>


  </body>
</html>
