---
layout: default
---

<article class="post">
  <header class="post__header">
    <h1 class="post__title">{{ title | removeWidows }}</h1>
    <p class="post__date">{% if version > 1 %}Version {{version}} | {% endif %}{{ date | toDateString('post-page') }}</p>  
  </header>
  <section class="post__body">{{ content | safe }}</section>
  <footer class="post__footer">
    <img class="post__footer-avatar" src="/assets/images/profile-circle-240-tiny.png" />
    <p class="post__footer-author">{{ site.name }}</p>
    {% include "share.njk" %}
  </footer>
  <div class="post__footer" style="border-top: 0; padding-top: 0; margin-top: 0; flex-wrap: nowrap">
    <img src="https://www.adblockpodcast.com/assets/icons/no-precache/logo-square-192.png" alt="Adblock Podcast logo" width="80px" style="border-radius: 50%; margin: 0 1rem 1rem 0; max-width: 38.1%;" />
    <p>While you're here, check out my latest project: <a href="https://www.adblockpodcast.com/?utm_source=micahjon.com&utm_medium=referral">a podcast app that skips ads!</a></p>
  </div>
</article>

{% include "disqus.njk" %}
